In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_june = []

results_june = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
#results_june

In [5]:
# 2. Convert the June temperatures to a list.


temps_june = list(np.ravel(results_june))
#temps_june

In [6]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results_june, columns = ['date', 'tobs'])
june_df.set_index(june_df['date'], inplace=True)
june_df.head()

                  date  tobs
date
2010-06-01  2010-06-01  78.0
2010-06-02  2010-06-02  76.0
2010-06-03  2010-06-03  78.0
2010-06-04  2010-06-04  76.0
2010-06-05  2010-06-05  77.0

In [7]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [8]:
# 5. Return to your challenge instructions to compare your summary statistics
#OK

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_december = []
results_december = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
#results_december

In [10]:
# 7. Convert the December temperatures to a list.
temps_december = list(np.ravel(results_december))
#temps_december

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_december = pd.DataFrame(results_december, columns = ['date', 'tobs'])
df_december.set_index(df_december['date'], inplace=True)
df_december.head()

                  date  tobs
date
2010-12-01  2010-12-01  76.0
2010-12-03  2010-12-03  74.0
2010-12-04  2010-12-04  74.0
2010-12-06  2010-12-06  64.0
2010-12-07  2010-12-07  64.0

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_december.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [13]:
# 10. Return to your challenge instructions to compare your summary statistics
#OK

Extra queries

In [22]:
session = Session(engine)
results = []
results = session.query(Measurement.date, Measurement.tobs)

In [23]:
# Calculate the date one year from the last date in data set.
prev_year = dt.date(2017, 8, 25)

# Perform a query to retrieve the data and precipitation scores
prev_year = dt.date(2017, 8, 25) - dt.timedelta(days=365)

In [24]:
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= prev_year)
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= prev_year).all()


df_tobs = pd.DataFrame(results, columns=['date','tobs'])

df_tobs.set_index(df_tobs['date'], inplace=True)
df_tobs.head()

                  date  tobs
date
2016-08-25  2016-08-25  80.0
2016-08-26  2016-08-26  79.0
2016-08-27  2016-08-27  77.0
2016-08-28  2016-08-28  78.0
2016-08-29  2016-08-29  78.0

In [25]:
df_tobs.describe()

              tobs
count  2216.000000
mean     74.569495
std       4.615182
min      58.000000
25%      71.000000
50%      75.000000
75%      78.000000
max      87.000000

In [18]:
#JUNE
result_precip_june = []
result_precip_june = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()
precip_june= list(np.ravel(result_precip_june))
#result_precip_june

df_june_precip = pd.DataFrame(result_precip_june, columns = ['date', 'tobs'])
df_june_precip.set_index(df_june_precip['date'], inplace=True)
df_june_precip.head()

                  date  tobs
date
2010-06-01  2010-06-01  0.00
2010-06-02  2010-06-02  0.01
2010-06-03  2010-06-03  0.00
2010-06-04  2010-06-04  0.00
2010-06-05  2010-06-05  0.00

In [19]:
df_june_precip.describe()

              tobs
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [20]:
#DECEMBER
result_precip_december =[]
result_precip_december = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

df_dec_precip= pd.DataFrame(result_precip_december, columns = ['date', 'prcp'])
df_dec_precip.set_index(df_dec_precip['date'], inplace=True)

In [21]:
df_dec_precip.describe()

              prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000